.react-flow__pane {
  pointer-events: all;
  cursor: default;
}

.react-flow__node.dragging * {
  cursor: grabbing !important;
}

.react-flow__node-noteNode:not(.selected) {
  z-index: -1 !important;
}

.react-flow__background pattern circle {
  fill: hsl(var(--canvas-dot)) !important;
}